<!-- Vamos criar um a linha-->

<div class="row">

    <!--Dentro da linha vamos criar uma coluna-->

    <div class="col">

        <h1 class="text-center">@ViewData["title"]</h1>
        <form>
            <!--Nome-->
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control">
            </div>

            <!--Título-->
             <div class="mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control">
            </div>

            <!--Descrição-->

             <div class="mb-3">
                <label class="form-label">Descrição</label>
                <input type="text" class="form-control">
            </div>

            <!--Perfil-->
             <div class="mb-3">
                <label class="form-label">Perfil</label>
                <input type="text" class="form-control">
            </div>

            <!--Requisito-->
              <div class="mb-3">
                <label class="form-label">Requisito</label>
                <input type="text" class="form-control">
            </div>

            <!--Conteúdos-->
              <div class="mb-3">
                <label class="form-label">Conteúdos</label>
                <input type="text" class="form-control">
            </div>

           
            <!--Recursos-->

             <div class="mb-3">
                <label class="form-label">Recursos</label>
                <input type="text" class="form-control">
            </div>

            <!--CH-->

             <div class="mb-3">
                <label class="form-label">Carga Horária</label>
                <input type="number" class="form-control">
            </div>

            <!--Prazo-->

             <div class="mb-3">
                <label class="form-label">Prazo em Semanas</label>
                <input type="number" class="form-control">
            </div>
      

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



</div>